# Simulink temporary files
slprj/
*.slxc
*.slxp
*.mexw32
*.mexw64
*.mexa64
*.mexa32
*.mexmaci64
*.asv
*.mdl_autosave
*.autosave
*.bak
*.sldd_autosave
*.rpt
*.sldd_backup
*.slx.autosave
*.mat
*.log
*.slupdate
*.tlc
*.rtw
*.c
*.h
*.o
*.obj
*.dll
*.so
*.pdb
